@model IEnumerable<ProyectoPrestamo.Models.CuentaBanco>

@{
    ViewData["Title"] = "Index";
}

<h1>Cuenta de Banco</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInversionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdInversionNavigation.IdInversion)
            </td>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.IdBanco">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdBanco">Detalles</a> |
                <a  asp-action="Delete" asp-route-id="@item.IdBanco">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
