@model ProyectoPrestamo.Models.Prestamo

@{
    ViewData["Title"] = "Delete";
}

<h1>Prestamo</h1>
<hr />
<br />
<h3>Estas seguro de eliminar este usuario?</h3>


<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFiador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFiador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.IdCliente)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPrestamo" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver atras</a>
    </form>
</div>
