@model IEnumerable<ProyectoPrestamo.Models.Inversion>

@{
    ViewData["Title"] = "Index";
}

<h1>Inversion</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInversion">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdInversion">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInversion">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
